[mysqld_multi]
mysqld=/usr/bin/mysqld_safe
mysqladmin=/usr/bin/mysqladmin
user=root
# 需要注意，是pass而不是password，用于后面使用stop时使用，可修改为你自定义的密码
pass=123456

[mysqld3307]
port=3307
server-id=3307
datadir=/home/mysql/3307/data
log-bin=/home/mysql/3307/log/mysql-bin
pid-file=/home/mysql/3307/3307.pid
socket=/tmp/mysql3307.sock
log-error=/home/mysql/3307/log/error.log
skip-external-locking

[mysqld3308]
port=3308
server-id=3308
datadir=/home/mysql/3308/data
log-bin=/home/mysql/3308/log/mysql-bin
pid-file=/home/mysql/3308/3308.pid
socket=/tmp/mysql3308.sock
log-error=/home/mysql/3308/log/error.log
skip-external-locking

[mysqld3309]
port=3309
server-id=3309
datadir=/home/mysql/3309/data
log-bin=/home/mysql/3309/log/mysql-bin
pid-file=/home/mysql/3309/3309.pid
socket=/tmp/mysql3309.sock
log-error=/home/mysql/3309/log/error.log
skip-external-locking

[mysql]
no-auto-rehash
